nav {
    background-color: rgba(219, 226, 236, 255);
    font-family: georgia;
}



}

H1 {
    background-color: rgba(219, 226, 236, 255);
    font-size: 3px;
}

ul {
    background: rgba(219, 226, 236, 255);
}